@media (min-width: 1200px) {
  .container {
    max-width: 700px;
  }
}

body {
  font-family: Verdana, Arial, Sans-Serif !important;
  background: #ffffff;
  color: #333;
  text-align: center;
  font-size: small;
}

p {
  font-family: Verdana, Arial, Sans-Serif !important;
  font-size: small;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Arial, Sans-Serif !important;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 100%;
}

h6 {
  font-size: medium;
}

hr {
  display: block;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 2px;
}

.tagline {
  font-weight: bold;
}

.fs-small {
  font-size: small;
}

.fs-smaller {
  font-size: small;
  font-weight: lighter;
}

td, tr, th, table {
  font-family: Verdana, Arial, Sans-Serif !important;
}

.start-25 {
  left: 25% !important;
}

.start-26 {
  left: 26% !important;
}

.start-30 {
  left: 30% !important;
}

.start-35 {
  left: 35% !important;
}

.start-40 {
  left: 40% !important;
}

.start-70 {
  left: 70% !important;
}

.start-75 {
  left: 75% !important;
}

.w-12 {
  width: 12.5% !important;
}

.w-10 {
  width: 10% !important;
}

.w-35 {
  width: 35% !important;
}

.w-30 {
  width: 35% !important;
}

.accordion-override {
  --bs-accordion-btn-icon-width: 0rem !important;
}

.border-md {
  border-width: medium !important;
}

.accordion-button-ct {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  text-align: left;
  background-color: #ffffff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
}
